git+https://github.com/CrowMother/Bot_framework.git
requests~=2.32.4
gspread~=6.2.1
google~=3.0.0
pandas~=2.3.1
schwabdev~=2.5.0

Bot_App~=0.2.1
selenium~=4.36.0
webdriver-manager~=4.0.2
typing~=3.7.4.3
python-dotenv~=1.1.1
protobuf~=6.32.0