requests
gspread
google
pandas
schwabdev
# Local editable version
# -e /home/asa/code/nbt/Bot_framework/
# Github @refactor branch
-e git+https://github.com/CrowMother/Bot_framework.git@refactor#egg=Bot_App
